
@charset "UTF-8";

@font-face {
  font-family: "safe360";
  src:url("http://www.360safe.com/static/fonts/safe360.eot");
  src: url("http://www.360safe.com/static/fonts/safe360.eot?#iefix") format("eot");
  src: local("☺"), url("http://www.360safe.com/static/fonts/safe360.woff") format("woff"), url("http://www.360safe.com/static/fonts/safe360.ttf") format("truetype"), url("http://www.360safe.com/static/fonts/safe360.svg#safe360") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "safe360";
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "safe360";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
}


.icon-back:before {
  content: "a";
}

.icon-download:before {
  content: "c";
}

.icon-facebook-circle:before {
  content: "d";
}

.icon-go:before {
  content: "e";
}

.icon-gplus-circle:before {
  content: "f";
}

.icon-mail-circle:before {
  content: "g";
}

.icon-facebook:before {
  content: "i";
}

.icon-news:before {
  content: "j";
}

.icon-twitter:before {
  content: "k";
}

.icon-scroll:before {
  content: "l";
}

.icon-top:before {
  content: "m";
}

.icon-twitter-circle:before {
  content: "n";
}

.icon-safe:before {
  content: "o";
}

.icon-cooperate:before {
  content: "q";
}

.icon-support:before {
  content: "r";
}



